/* line 5, /Users/wangningsi/next/invoice/app/assets/stylesheets/members.scss */
.login {
  max-width: 320px;
  border: solid 1px #CCCCCC;
  padding: 40px 16px 40px 30px;
}
/* line 10, /Users/wangningsi/next/invoice/app/assets/stylesheets/members.scss */
.login h2 {
  text-align: center;
}

/* line 14, /Users/wangningsi/next/invoice/app/assets/stylesheets/members.scss */
.signup {
  max-width: 360px;
  border: solid 1px #CCCCCC;
  padding: 40px 20px 40px 30px;
}
/* line 19, /Users/wangningsi/next/invoice/app/assets/stylesheets/members.scss */
.signup h2 {
  text-align: center;
}
