<header class="sticky-top">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand " href="/">NEXT</a>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">MENU</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/members">社員一覧</a>
              <a class="dropdown-item" href="/bill_tos">請求先一覧</a>
              <a class="dropdown-item" href="/companies">会社一覧</a>
              <a class="dropdown-item" href="/sales_staffs">営業担当者一覧</a>
              <a class="dropdown-item" href="/bills">SES請求書一覧</a>
            </div>
          </li>
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown"></div>
        <span class="input-group-text" id="">
          <%= link_to 'ログアウト', destroy_user_session_path %>
        </span>
      </div>
    </nav>
  </div>
</header>
